// Canmanually add a file
// @import 'styl/variables'
// Or select all in the folder
@import 'styl/*'

// Syntaxis
body
    background primary
    color color_w
    border solid 1px @color
    // The first unit in a function sets the result
    margin-left - add(1rem,2)
    main
        // Built in functions https://stylus-lang.com/
        margin-left marg(abs(@margin-left), 20)
        background-color rgba(tint(primary,60%),90%)
        color @color
        border solid 1px @color
        // Mixins can replace a property
        border-radius(20px)
        transition(all 0.2s ease)
        clear-fix()
        