body {
  background: #2828b9;
  color: #fff;
  border: solid 1px #fff;
  margin-left: -3rem;
}
body main {
  margin-left: 3rem 30rem 60rem;
  background-color: rgba(169,169,227,0.9);
  color: #fff;
  border: solid 1px #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
  zoom: 1;
}
body main:after,
body main:before {
  content: "";
  display: table;
}
body main:after {
  clear: both;
}
