.col {

  &-red{
    background-color: red;
  }

  &-yellow {
    background-color: yellow;
  }

  &-blue {
    background-color: blue;
  }

}

.fg {
  background-color: darkgrey;
}

.container {
  margin: 4%;
  padding: 2%;
}

.breadcrumb-item + .breadcrumb-item::before{
  content: "|";
}