@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
:root {
  --primary-color: #01d883;
  --alt-color: #009F9B;
  --black: #2F4858;
  --red: #ed2400;
}

body {
  background-color: #f5f5f5;
  margin: 0;
  font-family: Roboto, Verdana, sans-serif;
}

body b.red {
  color: var(--red);
}

body b.black {
  color: var(--black);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: #ffffff;
  padding: .75rem 1rem .5rem 1rem;
  max-height: 3rem;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .logo {
  font-weight: bold;
  color: #000000;
  font-size: 1.2rem;
}

.navbar .logo a {
  text-decoration: none;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar .mobile-nav {
  cursor: pointer;
  display: block;
}

.navbar nav {
  display: none;
}

.navbar .menu-show {
  display: block;
}

nav {
  position: fixed;
  width: 66%;
  right: 0;
  top: 0;
  background: var(--alt-color);
  padding: 1em;
}

nav ul {
  margin-top: 3em;
  list-style: none;
  text-decoration: none;
}

nav li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 2em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

nav #close-menu {
  float: right;
  fill: #ffffff;
}

section {
  padding: 2em 2rem;
}

.navbar-spacer {
  margin: 3rem;
}

section.hero {
  text-align: center;
}

section.hero .title h1 {
  font-size: 2.5rem;
  line-height: 1.3rem;
  margin-top: .2rem;
}

section.hero .title h3 {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--alt-color);
  letter-spacing: .25rem;
}

section.hero img {
  width: 70%;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

section.hero .description {
  text-align: justify;
  background: #ffffff;
  padding: .5rem 2rem;
  border-radius: 1rem;
  margin-top: 2rem;
}

section.hero .description h2 {
  margin-bottom: 0rem;
}

section.hero .sub-description {
  background-color: var(--alt-color);
  text-align: justify;
  color: #ffffff;
  margin-top: 2rem;
  padding: .5rem 1.5rem;
}

section.hero .sub-description details[open] {
  padding-top: .5rem;
}

section.contact {
  background: var(--alt-color);
  margin-top: 3em;
  text-align: center;
}

section.contact .business-card #github-photo {
  width: 10rem;
  height: 10rem;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  margin-top: -6em;
}

section.contact .business-card .card-container {
  margin: auto;
  -ms-flex-item-align: center;
      align-self: center;
  background: #ffffff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  margin-top: 1rem;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

section.contact .business-card .card-container:hover {
  -webkit-box-shadow: 0 5px 10px 0 black;
          box-shadow: 0 5px 10px 0 black;
}

section.contact .business-card .card-container img {
  padding-left: 2rem;
  height: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.contact .business-card .contact-card {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.contact .business-card .contact-card h1 {
  line-height: 0;
  font-size: 2rem;
}

section.contact .business-card .contact-card h2 {
  line-height: 0rem;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--primary-color);
}

section.contact .business-card .contact-card a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5rem auto;
      grid-template-columns: 1.5rem auto;
  grid-auto-rows: 1fr;
  text-decoration: none;
  color: #000000;
  margin-bottom: 0;
}

section.contact .business-card .contact-card a svg {
  margin-top: -.1rem;
  -ms-grid-column: 1;
  grid-column: 1;
  width: 1rem;
  fill: var(--primary-color);
}

@media only screen and (min-width: 768px) {
  #open-menu {
    display: none;
  }
  .container {
    width: 720px;
    margin: 0 auto;
  }
  section {
    padding: 1rem;
  }
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    background: none;
    position: unset;
    padding: 0;
    margin: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: .2em 1em;
  }
  .navbar nav ul {
    margin: 0;
  }
  .navbar nav li a {
    color: var(--primary-color);
    border-radius: 5em;
    white-space: nowrap;
    margin-top: -.2em;
  }
  .navbar nav li a:hover {
    background: var(--primary-color);
    color: #ffffff;
  }
  section.hero .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
    -ms-grid-rows: (auto)[4];
        grid-template-rows: repeat(4, auto);
  }
  section.hero .title {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  section.hero .title h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  section.hero .title h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--alt-color);
    letter-spacing: .25rem;
    margin-bottom: 2rem;
  }
  section.hero img {
    -ms-grid-column: 2;
    grid-column: 2;
    grid-row: 1 / -1;
    width: 100%;
  }
  section.hero .description {
    -ms-grid-column: 1;
    grid-column: 1;
    margin: 0 2rem 0 0;
  }
  section.hero .sub-description {
    grid-column: 1 / -1;
    margin-top: 2rem;
    margin-right: 0;
  }
  section.content {
    margin: 0 auto;
  }
  section.contact {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 1080px) {
  .container {
    width: 1000px;
  }
  section {
    margin: auto;
  }
  section.contact {
    margin: auto;
  }
  section.contact .business-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  section.contact .business-card #github-photo {
    border: 5px solid var(--primary-color);
    border-radius: 1rem;
    margin: 0;
    margin-right: 1rem;
  }
  section.contact .business-card .card-container {
    margin: 0;
    margin-left: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=main.css.map */