:root {
    --black: #2F4858;
    --red: #ed2400;
    --line: #CCCCCC;
    --font-color: #FFFFFF;
}

.red > .value > span {
    background: var(--red);
}

.black > .value > span {
    background: var(--black);
}

.tree {
    margin-top: 1rem;
    overflow-x: scroll;

    .node {
        width: 100%;
        position: relative;
        z-index:-1;
        min-width: 7rem;
        min-height: 7rem;

        .value {
            display: flex;
            justify-content: center;
            margin: 1.1rem 0;

            span {
                display: flex;
                align-items: center; 
                justify-content: center;
                color: var(--font-color);
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
            }
        }

        .children {
            display: flex;
            flex-wrap: nowrap;
            position: relative;
            
            &::before { 
                content: '';
                position: absolute; 
                top: -1rem; 
                left: 50%;
                border-left: 1px solid var(--line);
                width: 0; 
                height: 1rem;
            }
        }

        &::after {
            right: auto; 
            left: 50%;
            border-left: 1px solid var(--line);
        }

        &::before, &::after {
            content: '';
            position: absolute; 
            top: 0; 
            right: 50%;
            border-top: 1px solid var(--line);
            width: 50%; 
            height: 1rem;
        }
        
        &:only-child::after, &:only-child::before {
            display: none;
        }
        
        &:first-child::before, &:last-child::after {
            border: 0 none;
        }
        
        &:last-child::before{
            border-right: 1px solid var(--line);
        }
    }
}

