:root {
    --black: #2F4858;
    --red: #ed2400;
  }

.tree {
    margin-top: 1rem;
    text-align: center;
    
    .red {
        background: var(--red);
    }
    
    .black {
        background: var(--black);
    }

    .node {
        color: #ffffff;
        border-radius: 50%;
        width: 5rem;
        height: 5rem;
    }
}