.col-red {
  background-color: red;
}
.col-yellow {
  background-color: yellow;
}
.col-blue {
  background-color: blue;
}

.fg {
  background-color: darkgrey;
}

.container {
  margin: 4%;
  padding: 2%;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: "|";
}