// Mixins
vendor(property, arg)
    -webkit-{property} arg  
    -moz-{property} arg
    {property} arg

transition(args)
    vendor('transition', args) 

border-radius(radious = 5px)
    vendor('border-radius', radious)

clear-fix() 
    zoom 1
    &:after
    &:before
        content ""
        display table
    &:after
        clear both